<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <script src="../js/product-list.js"></script>
  <script src="../js/common.js"></script>
  <title>Product list</title>
</head>
<body>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="list-item col-md-12">
            <h2>Product list</h2>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="productList"> </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>
